{{define base}}
<html>
    <head>  {{template "head" .}} </head>
    <body> {{template "body" .}} </body>
    </html>
    {{end}}

    <!--Here a template called base is defined, in which the two templates are embedded. To render web pages,
    the base template is called every time the named templates “head” and “body” are provided from the content
    pages. For example, when the Index page is rendered, the template definition files from base.html and
    index.html are parsed, and the nested template defined in the “base” in base.html is executed and takes
    the contents for “head” and “body” from index.html -->
    
